VITE_SUPABASE_URL=https://https://tsabkymfxhufcwbqniac.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRzYWJreW1meGh1ZmN3YnFuaWFjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk4MzAzNjIsImV4cCI6MjEwNTQwNjM2Mn0.0-0s-gQxLqMnvHhRm6Ae_6BNQFRDO1fn0GbVs7igezo
